*.jpg
s/
s-public/
s-mytelegram/
cache/
docker/logs/
madeline.php
*.log
*.phar
*.phar.version
__pycache__/
*.pyc
vendor
composer.lock
lastclean
api_values.php
config.php
docker/.env
docker/.env.dual
*.iml
/.idea/
.DS_Store
