# MyTelegram / MTG-server-compatible mode.
UID=1005
INTERFACE=0.0.0.0
PROTO=http
PORT_HTTP=8082
PORT_HTTPS=8445

MPGRAM_CONNECTION=mytelegram
MPGRAM_SESSIONS_PATH=s-mytelegram/
PRIVATE_SERVER_HOST=10.0.0.10
PRIVATE_SERVER_PORT=30444
PRIVATE_SERVER_USE_WSS=false
DOCKER_INTERNAL_HOST=nginx
